@font-face {
    font-family: "ChillFont";
    src: url(../Fonts/LofiLifestyleRegular-2OM9v.ttf) format("truetype");
}

body {
    background-color: #212121;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "ChillFont";
}

.heart {
    color: red;
}

.working {
    position: relative;
    display: inline-block;
}