@font-face {
    font-family: "ChillFont";
    src: url(../Fonts/LofiLifestyleRegular-2OM9v.ttf) format("truetype");
}

body {
    background-color: #212121;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "ChillFont";
}

.heart {
    color: red;
}

.working {
    position: relative;
    display: inline-block;
}

.cat-image {
    position: absolute;
    top: -10px; /* Adjust this value to move the cat image vertically */
    left: 76px; /* Adjust this value to move the cat image horizontally */
    width: 15px; /* Adjust the width of the cat image */
    height: auto; /* Maintain the aspect ratio */
    pointer-events: none; /* Prevent the image from interfering with text selection */
    filter: invert(1) brightness(1000%);
}
